body {
    background-color: rgb(57, 177, 177);

    text-align: center;
    
}


ul {
display: block;
border: 5px, double, black;
list-style-type: none;
padding: 0px 0px 15px 0px;
}


h1 {
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}


h3 {
    color: black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


a {
    text-decoration: none;
    display: inline-flex;
}

img {
    border: 4px, double, black;
    padding: 6px; 
}
